[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = ">=2.28"
kafka-python = ">=2.0"
duckdb = ">=1.0"
prefect = ">=2.0"
pandas = ">=1.5"
matplotlib = ">=3.7"
seaborn = ">=0.12"
wordcloud = ">=1.8"
streamlit = ">=1.25"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.10"
